@import './globals.scss';

.index-intro-user {
  display: flex;
  position: relative;
}

.index-intro-user section {
  flex: 1;
  h2 {
    color: white;
  }
  h2, ul {
    margin-bottom: 8px;
  }
  li {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 6px;
    text-align: left;
  }
  a {
    box-shadow: 8px 8px 0 $cyan;
    &:hover {
      box-shadow: 8px 8px 0 $green;
    }
    &:first-of-type {
      margin-bottom: $textBlockMargin;
    }
  }
}
.portfolio-container{
  width: 80%;
  color: white;
  padding: 5%;
  top: 120px;
  position: relative;
  margin: auto;
  @media screen and (max-width: $tabletWidth) {
    top:170px;
  }
}
.portfolio-header{
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-left: 15px;
  h2 {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    font-family: $fontFamilyHeading;
  }
  p {
    font-size: 18px;
    font-weight: 800;
    margin-left: 15px;
    font-family: $fontFamilyHeading;
    span {
      font-size: 14px;
      font-weight: 400;
      color : grey;
    }
  }
  p:not(:first-of-type){
   
    @media screen and (max-width: 850px){
      overflow: hidden;
      text-overflow: ellipsis;
      width: 300px;
      white-space: nowrap;
    }
  }
  
}
.project-area{
  margin-top: 15px;
  padding : 20px;
  border : 1px solid #191a1a;
  border-radius: 7px;
  .project-area-title {
    padding : 30px 20px;
    h2 {
      margin-bottom: 10px;
      color: white;
      font-family: $fontFamilyHeading;
    }
    p{
      color: grey;
    }
  }
  
  .project-card-area {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
  }
}


.project-card-container {
  border : 1px solid #191a1a;
  border-left: 7px solid #4a7ff8;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  @media screen and (max-width: 1280px) {
    margin-top: 20px; 
    margin-right: 0px;
  }
  .project-card-title{
    padding : 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .project-title{
      font-family: $fontFamilyBody;
      font-size: 20px;
      font-weight: 800;
      color : gold
    }
    .project-logo {
      margin-right: 15px;
      border-radius: 50%;
    }
  }
  .project-card-body{
    padding:10px;
    .project-description{
      font-size: 14px;
      color: grey;
      margin-bottom: 7px;
    }
    p {
      font-size: 14px;
      color : white;
      margin-bottom: 5px;
    }
    p:last-of-type{
      @media screen and (max-width: 850px){
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
        white-space: nowrap;
      }
      @media screen and (max-width: 540px){
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
        white-space: nowrap;
      }
    } 
  }
}

@media screen and (min-width: $tabletWidth) {
  .turnBackBttn{
    padding : 10px 20px;
    float: right;
    position:relative;
    top : -50px;
    .bttn{
      background-color: #4a7ff8;
      color: white;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .turnBackBttn{
    padding : 10px 20px;
    .bttn{
      background-color: #4a7ff8;
      color: white;
    }
  }
}

.project-details-container{
  width: 95%;
  color: white;
  padding: 3%;
  top: 140px;
  position: relative;
  margin: auto;
  @media screen and (max-width: $tabletWidth) {
    top:170px;
  }
  h2{
    font-family: $fontFamilyHeading;
  }
  .project-card-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .overviewPanel {
      padding:10px;
      width:35%;
      @media screen and (max-width: 1280px) {
        width:100%;
      }
      .overviewBody{
        position:relative;
        .logoDiv{
          width:80px;
          height: 80px;
          position:absolute;
          top:-20px;
          right : 30px;
          border-radius: 50%;
        }
        .content-div{
          @media screen and (max-width: 1280px) {
            display: flex;
            flex-wrap: wrap;
            .contentStatements{
              flex: 50%;
            }
            .contentStatements2{
              flex: 50%;
              margin-top:60px;
              @media screen and (max-width: 919px){
                margin-top:0px;
              }
            }
          }
          .contentStatements{
            margin-bottom : 15px;
            p{
              color:white;
              font-size: 16px;
              font-weight: 700;
              margin-bottom: 7px;
            }
            span{
              color:grey;
              font-size: 15px;
              font-weight: 500;
            }
            
            a{
              color:#4a7ff8;
              font-size: 15px;
              font-weight: 500;
            }
          }
          .contentStatements2{
            margin-bottom : 15px;
            p{
              color:white;
              font-size: 16px;
              font-weight: 700;
              margin-bottom: 7px;
            }
            span{
              color:grey;
              font-size: 15px;
              font-weight: 500;
              text-align: justify;
              text-justify: inter-word
            }
            
            a{
              color:#4a7ff8;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }  
      }
    }
    .chartPanel {
      padding:15px 30px;
      border-left: 1px solid #191a1a;
      width:75%;
      @media screen and (max-width: 1280px) {
        width:100%;
      }
      .chart-body{
        .chart-title{
          min-width: 100%;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          h2{
            span{
              color:#4bffb5;
              font-size:35px;
            }
          }
        }
      } 
    }
  }
  .project-card-area {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1280px) {
      flex-direction: column;
    }
  }
}
// .tableDiv{
//   overflow-x: auto;
//   table {
//     border: 1px solid #ccc;
//     border-collapse: collapse;
//     margin: 0;
//     padding: 0;
//     width: 100%;
    
//       tr{
//         // background-color: #f8f8f8;
//         border: 1px solid #191a1a;
//         padding: .35em;
//         // border-bottom: 1px solid #191a1a;
//         height: 50px;
//         th{
//           text-align: center;
//           padding:.625em;
//           font-size: .85em;
//           letter-spacing: .1em;
//           text-transform: uppercase;
//           border: 1px solid #191a1a;
//         }
//       }
    
    
//       tr{
//         border: 1px solid #191a1a;
//         padding: .35em;
//         // border-bottom: 1px solid #191a1a;
//         height: 40px;
//         td{
//           text-align: center;
//           padding:.625em;
//           // font-size: .85em;
//           // letter-spacing: .1em;
//           // border-bottom: 1px solid #191a1a;
//         }
//       }
    
//   }
//   @media screen and (max-width: 700px) {
//     table {
//       border: 0;
//     }
  
//     table caption {
//       font-size: 1.3em;
//     }
    
//     table thead {
//       border: none;
//       clip: rect(0 0 0 0);
//       height: 1px;
//       margin: -1px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       width: 1px;
//     }
    
//     table tr {
//       border-bottom: 3px solid #ddd;
//       display: block;
//       margin-bottom: .625em;
//     }
    
//     table td {
//       border-bottom: 1px solid #ddd;
//       display: block;
//       font-size: .8em;
//       text-align: right;
//     }
    
//     table td::before {
//       /*
//       * aria-label has no advantage, it won't be read inside a table
//       content: attr(aria-label);
//       */
//       content: attr(data-label);
//       float: left;
//       font-weight: bold;
//       text-transform: uppercase;
//     }
    
//     table td:last-child {
//       border-bottom: 0;
//     }
//   }
  
// }
table {
  border: 1px solid #191a1a;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  font-weight: 800;
}
table thead tr{
  height:45px;
  background-color: #242525;
}

table tr {
  // background-color: #f8f8f8;
  border: 1px solid #191a1a;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
    font-weight: 800;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #191a1a;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .addressTd{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
  }
}

