@import './globals.scss';

.index-intro-user {
  display: flex;
  position: relative;
}

.index-intro-user section {
  flex: 1;
  h2 {
    color: white;
  }
  h2, ul {
    margin-bottom: 8px;
  }
  li {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 6px;
    text-align: left;
  }
  a {
    box-shadow: 8px 8px 0 $cyan;
    &:hover {
      box-shadow: 8px 8px 0 $green;
    }
    &:first-of-type {
      margin-bottom: $textBlockMargin;
    }
  }
}
.portfolio-container{
  width: 80%;
  color: white;
  padding: 5%;
  top: 60px;
  position: relative;
  margin: auto;
}
.portfolio-header{
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-left: 15px;
  h2 {
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    font-family: $fontFamilyHeading;
  }
  p {
    font-size: 18px;
    font-weight: 800;
    margin-left: 15px;
    font-family: $fontFamilyHeading;
    span {
      font-size: 14px;
      font-weight: 400;
      color : grey;
    }
  }
  
}
.project-area{
  margin-top: 15px;
  padding : 20px;
  border : 1px solid #191a1a;
  border-radius: 7px;
  .project-area-title {
    padding : 30px 20px;
    h2 {
      margin-bottom: 10px;
      color: white;
      font-family: $fontFamilyHeading;
    }
    p{
      color: grey;
    }
  }
  
  .project-card-area {
    display: flex;
    flex-direction: row;
  }
}


.project-card-container {
  border : 1px solid #191a1a;
  border-left: 7px solid #4a7ff8;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  .project-card-title{
    padding : 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .project-title{
      font-family: $fontFamilyBody;
      font-size: 20px;
      font-weight: 800;
      color : gold
    }
    .project-logo {
      margin-right: 15px;
      border-radius: 50%;
    }
  }
  .project-card-body{
    padding:10px;
    .project-description{
      font-size: 14px;
      color: grey;
      margin-bottom: 7px;
    }
    p {
      font-size: 14px;
      color : white;
      margin-bottom: 5px;
    }
  }
}

.turnBackBttn{
  padding : 10px 20px;
  float: right;
  position:relative;
  top : -50px;
  .bttn{
    background-color: #4a7ff8;
    color: white;
  }
}
.project-details-container{
  width: 95%;
  color: white;
  padding: 3%;
  top: 100px;
  position: relative;
  margin: auto;
  h2{
    font-family: $fontFamilyHeading;
  }
  .project-card-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .overviewPanel {
      padding:10px;
      width:35%;
     
      .overviewBody{
        position:relative;
        .logoDiv{
          width:80px;
          height: 80px;
          position:absolute;
          top:-20px;
          right : 30px;
          border-radius: 50%;
        }
        .contentStatements{
          margin-bottom : 15px;
          p{
            color:white;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 7px;
          }
          span{
            color:grey;
            font-size: 15px;
            font-weight: 500;
          }
          a{
            color:#4a7ff8;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
    .chartPanel {
      padding:15px 30px;
      border-left: 1px solid #191a1a;
    }
  }
}

table {
  width:100%;
  border : 1px solid #191a1a;
  border-radius: 7px;
  thead{
    background-color: #2d2d2d;
    tr{
      border-bottom: 1px solid #191a1a;
      height: 45px;
      th{
        text-align: center;
        padding:4px;
      }
    }
  }
  tbody {
    tr{
      border-bottom: 1px solid #191a1a;
      height: 40px;
      td{
        text-align: center;
        padding:4px;
      }
    }
  }
}